
<div class="primaryblue_background">
  <div class="container part-one">
    <div class="col-lg-6">
      <h1 class="header-one">Easy to use Proof of Delivery app</h1>
      <img src="images/itunes-app-store-logo.png"><img src="images/google-play.png"> </div>
    <div class="col-lg-6"> <img src="images/iphone1.png"> </div>
  </div>
</div>
<div class="container text-align" > 
  <!--Full Visibility At The Base-->
  <div class="row margin-bottom-40">
    <h1 class="heading-weight">Full Visibility At The Base</h1>
    <div class="col-md-4"> <img src="images/portal.png">
      <h4 class="header-four">1 - Easy to assign jobs</h4>
      <p>Organise the daily runs through an easy to use interface</p>
    </div>
    <div class="col-md-4"> <img src="images/tracking.png">
      <h4 class="header-four">2 - Real time tracking</h4>
      <p>Now you can monitor where your drivers are and verify which deliveries have been completed and the ones that are still pending.</p>
    </div>
    <div class="col-md-4"> <img src="images/pod.png">
      <h4 class="header-four">3 - Live Proof of Delivery</h4>
      <p>Your drivers can take photos that prove if a delivery could be completed or if there were any obstacles.</p>
    </div>
  </div>
  <hr>
  <!--Elegant mobile app.-->
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="heading-weight">Elegant mobile app.</h1>
      <h4>Your drivers will love EasyDrop. It's so simple to use, yet with all the features to simplify their work.</h4>
      <div ng-controller="CarouselCtrl" class="margin-bottom-40">
        <div style="height: 308px;">
          <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id"> <img ng-src="{{slide.image}}" style="margin:auto;"> </uib-slide>
          </uib-carousel>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <!--EasyDrop in the media-->
  <div class="row margin-bottom-40">
    <h1  class="heading-weight">EasyDrop in the media</h1>
    <div class="col-md-6"> <img src="images/coca-cola.png"> <a href="http://www.coca-colajourney.com.au/stories/out-with-the-old-drops-made-easier-with-startup-app">
      <p>EasyDrop on the Coca-Cola's website</p>
      </a> </div>
    <div class="col-md-6"> <img src="images/sydney-buses.png"> <a href="http://www.startupdaily.net/2014/10/winners-announced-codeworks-hackathon/">
      <p>Winners announced for Codeworks hackathon</p>
      </a> </div>
    <div class="col-md-6"> <img src="images/real-time-road-apps.png"> <a href="http://www.rms.nsw.gov.au/roads/using-roads/trip-information/real-time-road-apps.html">
      <p>EasyDrop on the RMS' web site</p>
      </a> </div>
    <div class="col-md-6"> <img src="images/cio.png"> <a href="http://www.cio.com.au/article/571442/fresh-produce-delivery-business-gets-smarter-new-app/">
      <p>Fresh produce gets smarter with EasyDrop</p>
      </a> </div>
  </div>
  <hr>
  <!--Price-->
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1  class="heading-weight"> Price</h1>
      <div class="panel panel-success">
        <div class="panel-heading">30 Days Trial</div>
        <div class="panel-body">
          <h1>US$35<span class="subscript">/driver/month*</span></h1>
          <table class="table-condensed table-striped" width="100%" >
            <tr style="padding:0;">
              <td>30 Days Free Trial for 1 Driver</td>
            </tr>
            <tr>
              <td>Talk to Us To Extent the Trial</td>
            </tr>
            <tr>
              <td>Unlimited Driver Tracking</td>
            </tr>
            <tr>
              <td>Unlimited Deliveries</td>
            </tr>
            <tr>
              <td>Unlimited POD's</td>
            </tr>
            <tr>
              <td>No Contract, No Worries</td>
            </tr>
            <tr>
              <td>Cancel at any time. We won't Ask Why</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <!--paragraph-->
  <div class="row margin-bottom-40">
    <p>At the end of the trial period you can choose to extend it or request more licenses or even cancel it. Just talk to us, our price plan is totally flexible!</p>
  </div>
  <hr>
  <!--mail-->
  <div class="row margin-bottom-40">
    <div class="col-md-8 col-lg-offset-2">
      <h4 class="contact-heading">Please fill out this contact request or email us at <a>info@easydrop.com.au</a></h4>
      <div class="col-sm-12 margin-bottom-15">
        <input type="text" class="form-control" placeholder="Enter yor Email" aria-describedby="sizing-addon2">
      </div>
      <div class="col-sm-12 margin-bottom-15">
        <textarea class="form-control" max-length="140" row="7" style="height:157px;" placeholder="Please inform us about your requirements"></textarea>
      </div>
      <button type="button" class="btn btn-warning">Send me more info!</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <h4>
    © Copyright 2016 OzPoint Technologies Pty Ltd <img src="images/siteseal_gd_3_h_l_m.gif"> </div>
</div>
