<div ng-controller="driverTrackingCtrl">
<!--BreadCrumbs-->
<div class="panel-default">
  <div class="panel-heading">
    <div class="btn-group btn-breadcrumb" role="group" aria-label="..."> <a href="#/manage" type="button" class="btn btn-default "><i class="glyphicon glyphicon-home"> </i></a> <a  type="button" class="btn btn-default">Map</a> <a type="button" class="btn btn-default primarywhite_background ">Driver Tracking</a> </div>
  </div>
</div>
<!--BreadCrumbs ends--> 
<!--Google Map-->
<div  id="googleMap" style="width:100%;height:500px;"></div>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<h2>Animated Sidenav Example</h2>
<p>Click on the element below to open the side navigation menu.</p>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">☰ open</span>
<!--Google Map end--> 
</div>

